host: ""

port: 8317
auth-dir: "~/.cli-proxy-api"
request-retry: 3

quota-exceeded:
  switch-project: true
  switch-preview-model: true

remote-management:
  allow-remote: true
  secret-key: "PUT-YOUR-RANDOM-MANAGEMENT-KEY-HERE"
  disable-control-panel: false
  panel-github-repository: "https://github.com/router-for-me/Cli-Proxy-API-Management-Center"

api-keys:
  - "PUT-YOUR-API-KEY-HERE"
