host: ""
port: 8317
auth-dir: "~/.cli-proxy-api"
request-retry: 3

quota-exceeded:
  switch-project: true
  switch-preview-model: true

remote-management:
  allow-remote: true
  secret-key: "CHANGE-THIS-TO-YOUR-SECRET-KEY"
  disable-control-panel: false
  panel-github-repository: "https://github.com/router-for-me/Cli-Proxy-API-Management-Center"

api-keys:
  - "ABC-CHANGE-ME-123456"
