services:
  cli-proxy-api:
    image: eceasy/cli-proxy-api:latest
    restart: unless-stopped
    expose:
      - "8317"
    volumes:
      - type: bind
        source: ./auths
        target: /root/.cli-proxy-api
        is_directory: true

      - type: bind
        source: ./config.yaml
        target: /CLIProxyAPI/config.yaml
        content: |
          host: ""
          port: 8317
          auth-dir: "~/.cli-proxy-api"
          request-retry: 3
          quota-exceeded:
            switch-project: true
            switch-preview-model: true
          remote-management:
            allow-remote: true
            secret-key: "CHANGE-THIS-TO-A-LONG-RANDOM-KEY"
            disable-control-panel: false
            panel-github-repository: "https://github.com/router-for-me/Cli-Proxy-API-Management-Center"
          api-keys:
            - "ABC-CHANGE-ME-123456"
