services:
  cli-proxy-api:
    image: eceasy/cli-proxy-api:latest
    restart: unless-stopped
    expose:
      - "8317"
    volumes:
      - type: bind
        source: ./config.yaml
        target: /CLIProxyAPI/config.yaml
      - type: bind
        source: ./auths
        target: /root/.cli-proxy-api
      - type: bind
        source: ./logs
        target: /CLIProxyAPI/logs
