services:
  cli-proxy-api:
    image: eceasy/cli-proxy-api:latest
    restart: unless-stopped

    expose:
      - "8317"

    volumes:
      - ./config.yaml:/CLIProxyAPI/config.yaml:ro
      - ./auths:/root/.cli-proxy-api
      - ./logs:/CLIProxyAPI/logs
